//
// Temp
// --------------------------------------------------

body {
  min-height: 2000px;
  // padding-top: 70px;
}

.navbar-default {
  background-color: rgba(255,255,255,0.6);
  border: 0;
}

.img-padded {
  padding: (@grid-gutter-width / 2);
}