//
// Temp
// --------------------------------------------------

.post {
  & .post-cover {
    position: relative;
    left: 0;
    right: 0;
    // display: table;
    width: 100vw;
    height: 74.691358vw;
    // max-height: 100vh;
    max-height: 94vh;
    & .post-cover-image {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    & .post-cover-fader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    & .post-header {
      // text-align: center;
      // display: table-cell;
      // vertical-align: bottom;
      // vertical-align: middle;
      // padding-top: (@grid-gutter-width * 2);
      // padding-bottom: (@grid-gutter-width * 2);
      color: @text-color;
      position: absolute;
      width: 100vw;
      left: 50%;
      margin-left: -50vw;
      bottom: 8%;
      & .post-title {
        margin-bottom: (@line-height-computed / 4);
        // text-transform: uppercase;
        // font-style: italic;
      }
      & .post-subtitle {
        margin-bottom: 0;
        font-weight: 200;
        opacity: 0.65;
        display: none;
      }
    }
  }
  & .post-details {
    padding-top: (@grid-gutter-width * 2);
    padding-bottom: (@grid-gutter-width * 6);
    & .post-ingredients {
      margin: @line-height-computed;
    }
  }
}

@post1-bg: rgb(139, 85, 51);
@post2-bg: rgb(61, 30, 17);
@post3-bg: rgb(74, 70, 75);
@post4-bg: rgb(23, 20, 18);
@post5-bg: rgb(172, 87, 32);

#post1 {
  & .post-cover-image {
    background-image: url('../../images/1-wings.jpg');
  }
  & .post-cover-fader {
    background: @post1-bg;
  }
  background: @post1-bg;
}

#post2 {
  & .post-cover-image {
    background-image: url('../../images/2-chicken.jpg');
  }
  & .post-cover-fader {
    background: @post2-bg;
  }
  background: @post2-bg;
}

#post3 {
  & .post-cover-image {
    background-image: url('../../images/3-root.jpg');
  }
  & .post-cover-fader {
    background: @post3-bg;
  }
  background: @post3-bg;
}

#post4 {
  & .post-cover-image {
    background-image: url('../../images/4-brussels-sprouts.jpg');
  }
  & .post-cover-fader {
    background: @post4-bg;
  }
  background: @post4-bg;
}

#post5 {
  & .post-cover-image {
    background-image: url('../../images/5-pork-cutlet.jpg');
  }
  & .post-cover-fader {
    background: @post5-bg;
  }
  background: @post5-bg;
}
